<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConStr" value="Data Source=103.91.186.145,34999;Initial Catalog=CHE_WA_BM_AUTOCAST;Persist Security Info=True;User ID=CHE_WA_BM_AUTOCAST;Password=Admin@123#">
    </add>
    <add key="ConStr1" value="Data Source=103.124.152.212,52022;Initial Catalog=E-INVOICE_26_27;Persist Security Info=True;User ID=sa;Password=GITsol@#@123">
    </add>
    <add key="CopyPath" value="D:\\" />
    <add key="Location" value="D:\\" />
    <add key="Filepath" value="D:\\" />
    <add key="Printer_Name" value="ZDesigner ZT231-203dpi ZPL" />
    <add key="FMB" value="D:\CMB.prn" />
    <add key="Location" value="\\quality\genuine\ERP_Document" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>